interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://geocoding.geo.census.gov/geocoder/locations/address?city=Washington&zip=20500&format=json&state=DC&street=1600+Pennsylvania+Avenue+NW&vintage=Current_Current&benchmark=Public_AR_Current
    response:
      body:
        {
          string: !!python/unicode '{"result":{"input":{"address":{"zip":"20500","city":"Washington","street":"1600 Pennsylvania Avenue NW","state":"DC"},"benchmark":{"isDefault":true,"benchmarkDescription":"Public Address Ranges - Current Benchmark","id":"4","benchmarkName":"Public_AR_Current"}},"addressMatches":[{"tigerLine":{"side":"L","tigerLineId":"76225813"},"coordinates":{"x":-77.036543957308,"y":38.898690918655},"addressComponents":{"zip":"20500","streetName":"PENNSYLVANIA","preType":"","city":"WASHINGTON","preDirection":"","suffixDirection":"NW","fromAddress":"1500","state":"DC","suffixType":"AVE","toAddress":"1698","suffixQualifier":"","preQualifier":""},"matchedAddress":"1600 PENNSYLVANIA AVE NW, WASHINGTON, DC, 20500"}]}}',
        }
      headers:
        content-language: [en-US]
        content-type: [application/json]
      status: { code: 200, message: OK }
version: 1
