interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://geocoding.geo.census.gov/geocoder/geographies/onelineaddress?layers=all&format=json&address=1600+Pennsylvania+Avenue+NW%2C+Washington%2C+DC%2C+20500&vintage=Current_Current&benchmark=Public_AR_Current
    response:
      body:
        {
          string: !!python/unicode '{"result":{"input":{"address":{"address":"1600 Pennsylvania Avenue NW, Washington, DC, 20500"},"vintage":{"isDefault":true,"id":"4","vintageName":"Current_Current","vintageDescription":"Current Vintage - Current Benchmark"},"benchmark":{"isDefault":true,"benchmarkDescription":"Public Address Ranges - Current Benchmark","id":"4","benchmarkName":"Public_AR_Current"}},"addressMatches":[{"tigerLine":{"side":"L","tigerLineId":"76225813"},"geographies":{"2020 Census Public Use Microdata Areas":[{"GEOID":"1100106","CENTLAT":"+38.8642235","AREAWATER":"14153008","BASENAME":"District of Columbia (South Central)","STATE":"11","OID":"2177029550539712","LSADC":"P0","FUNCSTAT":"S","INTPTLAT":"+38.8705434","NAME":"District of Columbia (South Central) PUMA","OBJECTID":637,"CENTLON":"-077.0250198","AREALAND":"28437966","INTPTLON":"-077.0268258","MTFCC":"G6120","PUMA":"00106"}],"2020 Census ZIP Code Tabulation Areas":[{"GEOID":"20006","CENTLAT":"+38.8984817","AREAWATER":"0","BASENAME":"20006","OID":"221704257714593","ZCTA5":"20006","LSADC":"Z5","FUNCSTAT":"S","INTPTLAT":"+38.8984817","NAME":"ZCTA5 20006","OBJECTID":12837,"CENTLON":"-077.0412047","AREALAND":"913570","INTPTLON":"-077.0412047","MTFCC":"G6350","ZCTA5CC":"B5"}],"Urban Areas":[{"GEOID":"92242","CENTLAT":"+38.8953269","AREAWATER":"67700941","BASENAME":"Washington--Arlington, DC--VA--MD","OID":"27021158105937","UA":"92242","LSADC":"67","FUNCSTAT":"S","INTPTLAT":"+38.8959429","NAME":"Washington--Arlington, DC--VA--MD Urban Area","OBJECTID":1670,"CENTLON":"-077.1822219","AREALAND":"3352486753","INTPTLON":"-077.1830768","MTFCC":"G3500"}],"Incorporated Places":[{"DISP_CLR":3,"NECTAPCI":"N","GEOID":"1150000","CENTLAT":"+38.9047586","AREAWATER":"18709787","BASENAME":"Washington","STATE":"11","OID":"27890331283927","LSADC":"25","PLACE":"50000","FUNCSTAT":"N","INTPTLAT":"+38.9042474","NAME":"Washington city","OBJECTID":31835,"PLACECC":"C5","CENTLON":"-077.0162860","CBSAPCI":"Y","AREALAND":"158316180","INTPTLON":"-077.0165167","PLACENS":"02390665","MTFCC":"G4110"}],"Counties":[{"GEOID":"11001","CENTLAT":"+38.9047586","AREAWATER":"18709787","STATE":"11","BASENAME":"District of Columbia","OID":"27590331264532","LSADC":"00","FUNCSTAT":"F","INTPTLAT":"+38.9042474","NAME":"District of Columbia","OBJECTID":2587,"CENTLON":"-077.0162860","COUNTYCC":"H6","COUNTYNS":"01702382","AREALAND":"158316180","INTPTLON":"-077.0165167","MTFCC":"G4020","COUNTY":"001"}],"Unified School Districts":[{"LOGRADE":"PK","GEOID":"1100030","CENTLAT":"+38.9047586","AREAWATER":"18709787","STATE":"11","BASENAME":"District of Columbia Public Schools","OID":"28490331329267","SDTYP":"","LSADC":"00","FUNCSTAT":"E","INTPTLAT":"+38.9042474","SDUNI":"00030","NAME":"District of Columbia Public Schools","OBJECTID":1834,"CENTLON":"-077.0162860","HIGRADE":"12","AREALAND":"158316180","INTPTLON":"-077.0165167","MTFCC":"G5420"}],"2024 State Legislative Districts - Upper":[{"GEOID":"11002","CENTLAT":"+38.9000369","AREAWATER":"3029411","STATE":"11","BASENAME":"2","OID":"2129035951821144","SLDU":"002","LSADC":"L1","FUNCSTAT":"N","INTPTLAT":"+38.9001359","NAME":"Ward 2","OBJECTID":1455,"CENTLON":"-077.0463485","LSY":"2024","AREALAND":"15329820","INTPTLON":"-077.0457772","MTFCC":"G5210","LDTYP":"O"}],"2020 Census Blocks":[{"SUFFIX":"","GEOID":"110019800001034","CENTLAT":"+38.8970383","BLOCK":"1034","AREAWATER":"0","STATE":"11","BASENAME":"1034","OID":"210701008444240","LSADC":"BK","FUNCSTAT":"S","INTPTLAT":"+38.8970383","NAME":"Block 1034","OBJECTID":319309,"TRACT":"980000","CENTLON":"-077.0372535","BLKGRP":"1","AREALAND":"144892","INTPTLON":"-077.0372535","MTFCC":"G5040","LWBLKTYP":"L","UR":"U","COUNTY":"001"}],"119th Congressional Districts":[{"GEOID":"1198","CENTLAT":"+38.9047586","CDSESSN":"119","AREAWATER":"18709787","BASENAME":"Delegate District (at Large)","STATE":"11","OID":"2119035963374576","LSADC":"C4","FUNCSTAT":"N","INTPTLAT":"+38.9042474","NAME":"Delegate District (at Large)","OBJECTID":300,"CENTLON":"-077.0162860","CD119":"98","AREALAND":"158316180","INTPTLON":"-077.0165167","MTFCC":"G5200"}],"Metropolitan Divisions":[{"POP100":"","GEOID":"4790047764","CENTLAT":"+38.6446198","AREAWATER":"540214382","BASENAME":"Washington, DC-MD","OID":"2639034687908187","LSADC":"M3","METDIV":"47764","FUNCSTAT":"S","INTPTLAT":"+38.6444339","NAME":"Washington, DC-MD Metro Division","CSA":"548","OBJECTID":36,"CENTLON":"-076.9453000","CBSA":"47900","AREALAND":"2593991176","INTPTLON":"-076.9442003","HU100":"","MTFCC":"G3120"}],"States":[{"STATENS":"01702382","GEOID":"11","CENTLAT":"+38.9047586","AREAWATER":"18709787","STATE":"11","BASENAME":"District of Columbia","STUSAB":"DC","OID":"27490331294090","LSADC":"00","FUNCSTAT":"A","INTPTLAT":"+38.9042474","DIVISION":"5","NAME":"District of Columbia","REGION":"3","OBJECTID":22,"CENTLON":"-077.0162860","AREALAND":"158316180","INTPTLON":"-077.0165167","MTFCC":"G4000"}],"Census Block Groups":[{"GEOID":"110019800001","CENTLAT":"+38.8801546","AREAWATER":"4996396","STATE":"11","BASENAME":"1","OID":"2089015504267429","LSADC":"BG","FUNCSTAT":"S","INTPTLAT":"+38.8809933","NAME":"Block Group 1","OBJECTID":20605,"TRACT":"980000","CENTLON":"-077.0352173","BLKGRP":"1","AREALAND":"6514228","INTPTLON":"-077.0363219","MTFCC":"G5030","COUNTY":"001"}],"Combined Statistical Areas":[{"POP100":"","GEOID":"548","CENTLAT":"+38.9848368","AREAWATER":"5218610979","BASENAME":"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA","OID":"2619034687908147","LSADC":"M0","FUNCSTAT":"S","INTPTLAT":"+38.9854484","NAME":"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA CSA","OBJECTID":48,"CSA":"548","CENTLON":"-077.2239743","INTPTLON":"-077.2228175","AREALAND":"34187257512","HU100":"","MTFCC":"G3100"}],"County Subdivisions":[{"COUSUB":"50000","GEOID":"1100150000","CENTLAT":"+38.9047586","AREAWATER":"18709787","STATE":"11","BASENAME":"Washington","OID":"27690331274806","LSADC":"25","FUNCSTAT":"F","INTPTLAT":"+38.9042474","NAME":"Washington city","OBJECTID":33691,"CENTLON":"-077.0162860","COUSUBCC":"C5","AREALAND":"158316180","INTPTLON":"-077.0165167","MTFCC":"G4040","COUSUBNS":"02390665","COUNTY":"001"}],"Census Divisions":[{"GEOID":"5","CENTLAT":"+33.7954697","AREAWATER":"86328558037","BASENAME":"South Atlantic","OID":"2739020719808","LSADC":"69","FUNCSTAT":"S","INTPTLAT":"+33.7948282","DIVISION":"5","REGION":"3","NAME":"South Atlantic Division","OBJECTID":2,"CENTLON":"-080.9687982","AREALAND":"687136271746","INTPTLON":"-080.9658812","MTFCC":"G1200"}],"Census Regions":[{"GEOID":"3","CENTLAT":"+33.5118953","AREAWATER":"148786239486","BASENAME":"South","OID":"272902071[...]
