interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://geocoding.geo.census.gov/geocoder/geographies/address?vintage=Census2020_Current&street=1600+Pennsylvania+Avenue+NW&state=DC&zip=20500&format=json&benchmark=Public_AR_Current&city=Washington
    response:
      body:
        {
          string: '{"result":{"input":{"address":{"zip":"20500","city":"Washington","street":"1600 Pennsylvania Avenue NW","state":"DC"},"vintage":{"isDefault":false,"id":"420","vintageName":"Census2020_Current","vintageDescription":"Census2020 Vintage - Current Benchmark"},"benchmark":{"isDefault":true,"benchmarkDescription":"Public Address Ranges - Current Benchmark","id":"4","benchmarkName":"Public_AR_Current"}},"addressMatches":[{"tigerLine":{"side":"L","tigerLineId":"76225813"},"geographies":{"2018 State Legislative Districts - Upper":[{"POP100":81904,"GEOID":"11002","CENTLAT":"+38.8932382","AREAWATER":5945943,"STATE":"11","BASENAME":"2","OID":"212704689769535","LSADC":"L1","SLDU":"002","FUNCSTAT":"N","INTPTLAT":"+38.8926196","NAME":"Ward 2","OBJECTID":314,"CENTLON":"-077.0433020","LSY":"2018","AREALAND":16541235,"INTPTLON":"-077.0427418","HU100":49099,"MTFCC":"G5210","LDTYP":"O"}],"States":[{"STATENS":"01702382","POP100":689545,"GEOID":"11","CENTLAT":"+38.9047586","AREAWATER":18709787,"STATE":"11","BASENAME":"District of Columbia","STUSAB":"DC","OID":"27470331294090","LSADC":"00","FUNCSTAT":"A","INTPTLAT":"+38.9042474","DIVISION":"5","NAME":"District of Columbia","REGION":"3","OBJECTID":54,"CENTLON":"-077.0162860","AREALAND":158316184,"INTPTLON":"-077.0165167","HU100":350364,"MTFCC":"G4000","UR":"U"}],"Combined Statistical Areas":[{"POP100":9973383,"GEOID":"548","CENTLAT":"+39.0282810","AREAWATER":4067987973,"BASENAME":"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA","OID":"2617013782255247","LSADC":"M0","FUNCSTAT":"S","INTPTLAT":"+39.0246056","NAME":"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA CSA","OBJECTID":103,"CSA":"548","CENTLON":"-077.3083330","INTPTLON":"-077.3105306","AREALAND":32735743139,"HU100":4006033,"MTFCC":"G3100"}],"2020 Urban Areas - Corrected":[{"GEOID":"92242","CENTLAT":"+38.8953351","AREAWATER":67553988,"BASENAME":"Washington--Arlington, DC--VA--MD","OID":"27021158105937","UA":"92242","LSADC":"67","FUNCSTAT":"S","INTPTLAT":"+38.8959429","NAME":"Washington--Arlington, DC--VA--MD Urban Area","OBJECTID":2463,"CENTLON":"-077.1822210","AREALAND":3352724667,"INTPTLON":"-077.1830768","MTFCC":"G3500"}],"County Subdivisions":[{"COUSUB":"50000","POP100":689545,"GEOID":"1100150000","CENTLAT":"+38.9047586","AREAWATER":18709787,"STATE":"11","BASENAME":"Washington","OID":"27670331274806","LSADC":"25","FUNCSTAT":"F","INTPTLAT":"+38.9042474","NAME":"Washington city","OBJECTID":29325,"CENTLON":"-077.0162860","COUSUBCC":"C5","AREALAND":158316184,"INTPTLON":"-077.0165167","HU100":350364,"MTFCC":"G4040","COUSUBNS":"02390665","UR":"U","COUNTY":"001"}],"Incorporated Places":[{"DISP_CLR":2,"NECTAPCI":"N","POP100":689545,"GEOID":"1150000","CENTLAT":"+38.9047586","AREAWATER":18709787,"BASENAME":"Washington","STATE":"11","OID":"27870331283927","LSADC":"25","INTPTLAT":"+38.9042474","PLACE":"50000","FUNCSTAT":"N","NAME":"Washington city","OBJECTID":3003,"PLACECC":"C5","CENTLON":"-077.0162860","CBSAPCI":"Y","AREALAND":158316184,"HU100":350364,"INTPTLON":"-077.0165167","PLACENS":"02390665","MTFCC":"G4110","UR":"U"}],"Counties":[{"POP100":689545,"GEOID":"11001","CENTLAT":"+38.9047586","AREAWATER":18709787,"STATE":"11","BASENAME":"District of Columbia","OID":"27570331264532","LSADC":"00","FUNCSTAT":"F","INTPTLAT":"+38.9042474","NAME":"District of Columbia","OBJECTID":658,"CENTLON":"-077.0162860","COUNTYCC":"H6","COUNTYNS":"01702382","AREALAND":158316184,"INTPTLON":"-077.0165167","HU100":350364,"MTFCC":"G4020","UR":"U","COUNTY":"001"}],"116th Congressional Districts":[{"POP100":689545,"GEOID":"1198","CENTLAT":"+38.9047586","CDSESSN":"116","AREAWATER":18709787,"STATE":"11","BASENAME":"Delegate District (at Large)","OID":"211704692355590","LSADC":"C4","FUNCSTAT":"N","INTPTLAT":"+38.9042474","NAME":"Delegate District (at Large)","OBJECTID":338,"CENTLON":"-077.0162860","AREALAND":158316184,"INTPTLON":"-077.0165167","HU100":350364,"CD116":"98","MTFCC":"G5200"}],"Census Tracts":[{"POP100":176,"GEOID":"11001980000","CENTLAT":"+38.8801546","AREAWATER":4996393,"STATE":"11","BASENAME":"9800","OID":"2077015504267431","LSADC":"CT","FUNCSTAT":"S","INTPTLAT":"+38.8809933","NAME":"Census Tract 9800","OBJECTID":15893,"TRACT":"980000","CENTLON":"-077.0352173","AREALAND":6514228,"INTPTLON":"-077.0363219","HU100":12,"MTFCC":"G5020","UR":"U","COUNTY":"001"}],"Census Blocks":[{"GEOID":"110019800001034","STATE":"11","BASENAME":"1034","LSADC":"BK","INTPTLAT":"+38.8970383","OBJECTID":665921,"BLKGRP":"1","AREALAND":144892,"HU100":3,"VINTAGE":"70","LWBLKTYP":"L","UR":"U","COUNTY":"001","SUFFIX":"","TABBLKSUFX2":"","POP100":10,"CENTLAT":"+38.8970383","BLOCK":"1034","AREAWATER":0,"OID":"210701008444240","FUNCSTAT":"S","NAME":"Block 1034","TRACT":"980000","CENTLON":"-077.0372535","ACT":"","INTPTLON":"-077.0372535","MTFCC":"G5040"}]},"coordinates":{"x":-77.036543957308,"y":38.898690918655},"addressComponents":{"zip":"20500","streetName":"PENNSYLVANIA","preType":"","city":"WASHINGTON","preDirection":"","suffixDirection":"NW","fromAddress":"1500","state":"DC","suffixType":"AVE","toAddress":"1698","suffixQualifier":"","preQualifier":""},"matchedAddress":"1600 PENNSYLVANIA AVE NW, WASHINGTON, DC, 20500"}]}}',
        }
      headers:
        Content-Language: [en-US]
        Content-Type: [application/json]
      status: { code: 200, message: OK }
version: 1
